
*, *::before, *::after {
	box-sizing: inherit;
}

html {
	font-size: 20px;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #555;
	background: radial-gradient(circle, #fff 15%, #ccc);
	background-size: cover;
	font-size: 1rem;
	font-family: Roboto Slab, sans-serif;
	margin-top: 1em;
}

h1 {
	font-family: Fontdiner Swanky, sans-serif;
	font-size: 2rem;
	letter-spacing: 4px;
	margin: 0;
}

.board {
	margin: 30px auto;
	display: flex;
	flex-flow: row;
	border: 1px solid #bbb;
	box-shadow: 0 0 5px #bbb;
	width: 930px;
	height: 235px;
	max-width: 100%;
	resize: both;
	overflow-x: auto;
	background: url(../images/wood.png);
	border-radius: 20px;

	&, p {
		transform: rotate(0deg);
		transition: transform 3s ease 0s;
	}

	[data-player="two"] &,
	[data-player="two"] & p {
		transform: rotate(180deg);
	}
}

.rows {
	flex: 7;
	display: flex;
	flex-direction: column;
}

.store {
	flex: 1;
	border-radius: 40px;
}

.row {
	flex: 1;
	display: flex;

	&.player-two {
		flex-direction: row-reverse;
	}
}

.store, .pit {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.15);
	box-shadow: inset 0 0 2px rgba(0,0,0,.5);
	cursor: default;

	p {
		cursor: inherit;
	}

	p::selection {
		background: transparent;
	}
}

.pit {
	flex: 1;
	border-radius: 40%;
}

[data-player="two"] .row.player-two .pit,
[data-player="one"] .row.player-one .pit {
	cursor: pointer;
}

[data-player="two"] .status,
.store.player-two, .player-two .pit {
	color: green;
}

[data-player="one"] .status,
.store.player-one, .player-one .pit {
	color: #0074D9;
}

button {
	cursor: pointer;
	padding: 7px 13px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #555;
	background: #f7f7f7;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );

	&:hover {
		background: #fafafa;
		color: #23282d;
	}
}
